<!doctype html>
 
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Food sorting</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="/static/js/food.js"></script>
</head>
<body>
 
<div id="day_block1">
    <select class="portions">
    </select> 
    
    <button class="add">+</button>

    <ul class="food_list">
    </ul>
</div>

<div id="day_block2">
    <select class="portions">
    </select> 
    
    <button class="add">+</button>

    <ul class="food_list">
    </ul>
</div>


</body>
</html>